.hide {
    display: none;
}

* {
    font-family: "Raleway-bold", Helvetica;
    list-style-type: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: black;
}

ul,
li {
    list-style-type: none;

}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
div,
img,
ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;

}
.solutions-list-icon {
    stroke: #111111;
    fill: transparent;
}
.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
}
button{
    cursor: pointer;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}


@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;
        padding: 0 15px;
    }
}
/* ----- navigation -----*/
.header{
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.div-header-secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation-list, .address{
    display: none;
}

.logo{
color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;

    margin-right: 76px;
    display: flex;
}
.header-navigation-logo{
    display: block;
    padding: 16px 0;
}
.header-navigation-logo .header-navigation-logo-studio{
    color: #2e2f42;
}
.burger-btn{
    padding: 0;
    border: none;
    border-color: transparent;
    cursor: pointer;
    background-color: #FFFFFF;
}
.burger-icon{
display: block;
fill: #2f2f37;
}


@media screen and (min-width: 768px){
    .burger-btn{
        display: none;
    }
.header-navigation {
    display: flex;
    align-items: center;
}
.header-navigation-list {
    letter-spacing: 0.02em;
    align-items: center;
    gap: 40px;
    display: flex;
}

.header-navigation-logo {
            padding: 24px 0;
            margin-right: 120px;
}

.header-navigation-list {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    gap: 40px;
    display: flex;
    margin-right: 190px;
}


.header-navigation-list-itme {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;

}
.header-navigation-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
 letter-spacing: 0.02em;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
position: relative;
 padding: 24px 0;
         }
    
.header-navigation-link.carrent {
color: #404BBF;
}
    
.header-navigation-link.carrent::after {
 content: '';
 display: block;
    
height: 4px;
width: 100%;
background-color: #404BBF;
position: absolute;
border-radius: 2px;
left: 0px;
bottom: -1px;
 }
    
.header-navigation-link:hover,
.header-navigation-link:focus {
 color: #404bbf;
 }

 .address {
display: block;
font-size: 12px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
width: 118px;
 }
.address-list {
    display: flex;
    flex-direction: column;
    color: #434455;
    gap: 12px;
    
}

 .address-list-itme-text {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04;
    color: #434455; ;

 }
 .address-list-itme-text:hover,
 .address-list-itme-text:focus {
     color: #404BBF;
 }
}


@media screen and (min-width: 1158px){
.header-navigation-logo {
    margin-right: 76px;
    }
    .address-list{
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .address-list-itme-text{
padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02;

    }
}

/*mobile menu*/

.mobil-menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px){
    .mobil-menu{
        display: none;
    }
    
}
.mobil-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mobil-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobil-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #E7E9FC;

    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobil-menu-close:hover,
.mobil-menu-close:focus {
    background-color: #404BBF;
    fill: #ffffff;
    border: none;
}

.mobil-menu-nav{
    margin-bottom: auto;
}
.mobil-menu-nav .mobil-menu-list-item:not(:last-child){
    margin-bottom: 40px;
}
.mobil-menu-list-item{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.mobil-addres-list-link:hover,
.mobil-addres-list-link:focus {
    color: #404bbf;
}
.mobil-addres-list
{
    margin-bottom: 48px;
}
.mobil-addres-list-item{
    font-weight: 500px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 24px;
    
}
.mobil-addres-list-link:hover
.mobil-addres-list-link:focus{
    color: #4d5ae5;
}

.mobil-socials{
    display: flex;
    align-items: center;
        justify-content: center;
    gap: 40px;
    
}
.mobil-socials-item{
    width: 40px;
        height: 40px;
    background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
            align-items: center;
            justify-content: center;
}
.mobil-control{
    fill: #f4f4fd;
}
@media screen and (min-width: 768px){
    .mobil-menu{
        display: none;
    }
}


/*hero-baner*/

.hero-container{
    width: 320px; 
    height: 432px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.hero-banner{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/people.jpg);
    font-weight: 320px;
    line-height: 436px;
    background-color: #2e2f42;
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
    margin: 0 auto;
}
.hero-banner-title{
color: #ffF;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    padding:72px 52px;
    font-family: "Roboto", sans-serif;
}
.hero-banner-botton{
color: #ffffff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
 background-color: #4d5ae5;
 cursor: pointer;
border: none;
border-radius: 4px;
display: block;
width: 169px;
 height: 56px;
line-height: 1.5;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.04em;
margin-left:72px ;
margin-bottom: 52px;

}
.hero-banner-botton:hover {
    background-color: #404bbf;
}

.hero-banner-botton:focus {
    background-color: #404BBF;
}
@media screen and (min-width: 768px) {
    .hero-container {
            width: 768px;
            height: 432px;
            margin: 0 auto;
        }
    .hero-banner{
        font-weight: 768px;
        line-height: 436px;
    }
    .hero-banner-title{
        padding-top: 112px ;
        padding-left: 136px;
        font-size: 56px;
        line-height: 40px;
        letter-spacing: 0.02em;
        line-height: 1.1;  
    }
    .hero-banner-botton{
    margin-left: 300px;
    margin-bottom: 112px;
    }
}
@media screen and (min-width: 1440px){
    .hero-container {
        width: 1440px;
        height: 600px;
    }
    
    .hero-banner{
    font-weight: 1440px;
    text-align: center;
    
    }

  .hero-banner-title{
    padding-left: 472px;
    padding-right: 472px;
    padding-top: 188px;
    margin-bottom: 48px;
    line-height: 60px;
   
    font-weight: 700;
    text-align: center;
    font-family: "Roboto", sans-serif;
   
  }
  .hero-banner-botton{
    margin-left: 636px;
    margin-bottom: 188px;
    line-height: 45px;
    font-size: 16px;
  }

}


/* ----- solutions-----*/
@media screen and (max-width: 768px){
    .solutions-list-box{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .solution-control {
        display: none;
    }
}
.solutions{
    padding: 48px 0;

    margin: 0 auto;
}
@media screen and (min-width: 768px){
    .solutions{
        padding: 48px 0;
    }
}
@media screen and (min-width: 1440px){
    .solutions{
        padding: 60px 0;
    }
}

.solutions-list{
display: flex;
flex-wrap: wrap;
gap: 72px;
justify-content: center;

}
@media screen and (min-width: 768px){
    .solutions-list{
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1440px) {
    .solutions-list {
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: center;
    }
}

.solutions-list-item{
border-radius: 0px 0px 4px 4px;
align-items: center;
justify-content: center;
padding-right: 16px;
padding-left: 16px;
width: 356px;

}
@media screen and (min-width: 768px){
    .solutions-list-item{
        width: calc((100% - 24px * 1) / 2);
    }
}
@media screen and (min-width: 1440px) {
    .solutions-list-item {
        width: calc((100% - 72px) / 4);
        max-width: 264px;
    }
}

@media screen and (min-width:1440px) {
    .solutions-list-box{
display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
     width: 263px;
    background-color: #f4f4fd;
    padding: 24px 100px;
    margin-bottom: 8px;
    }
}
.solutions-list-item-title{
font-weight: 700;
font-size: 36px;
letter-spacing: 0.02em;
text-align: center;
 color: #2e2f42;
line-height: 1.1;
padding-bottom: 8px;
}
@media screen and (min-width: 768px){
.solutions-list-item-title{
text-align: left;
}
}
@media screen and (min-width:1440px){
.solutions-list-item-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}
}
.solutions-list-item-text{
font-weight: 500;
font-size: 20px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
@media screen and (min-width: 768px){
.solutions-list-item-text{
font-size: 16px;
}
}
@media screen and (min-width: 1440px) {
    .solutions-list-item-text {
    font-weight: 400;
    }
}

/* ----- our-team-----*/
.team{
    padding: 48px 0;
background-color: #f4f4fd;
    margin: 0 auto;
}
@media screen and (min-width: 1440px){
.team {
        padding: 60px 0;
    }
}

.team-logo{
color: #2e2f42;
font-weight: 700;
font-size: 36px;
text-align: center;
line-height: 1.11;
letter-spacing: 0.02em;
margin-bottom: 72px;
}
.team-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    
    
}

@media screen and (min-width: 768px) {

    .team-list {
        
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        align-items:baseline;
        margin-right: 79px;
            margin-left: 79px;
    }
}
@media screen and (min-width: 1440px){
    .team-list{
    margin-right: 15px;
        margin-left: 15px;
        justify-content: center;
    }
}

.team-list-item {
    background-color: #FFFFFF;
flex-wrap: wrap;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    
}
        
 @media screen and (min-width: 768px) {
    
.team-list-item {
        width: calc( ( 100% - 24px * 1 ) / 2 );
       
 }
 @media screen and (min-width: 1440px){
    .team-list-item {
            width: calc((100% - 72px * 3 ) / 4);
           max-width: 264px;
        }
 }
     
}
.team-images {
     display: block;
   
     margin-bottom: 32px;
    }

    .team-list-item-title{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-align: center;
     color: #2E2F42;
    padding-bottom: 8px;
    font-family: "Roboto",
        sans-serif;
    }
   .team-list-item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #434455;
    margin-top: 8px;
    
   }
   .team-list-socials {
       display: flex;
       gap: 24px;
       align-items: center;
       justify-content: center;

       padding-bottom: 32px;
       padding-top: 8px;
       width: 100%;
       height: 100%;
   }
   .team-list-socials-item {
       width: 40px;
       height: 40px;
       background-color: #4d5ae5;
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;

       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .team-list-socials-item:hover {
       background-color: #31d0aa;
   }

   .team-list-socials-item:focus {
       background-color: #31d0aa;
   }

   .team-link {
       width: 100%;
       height: 100%;

       background-color: #4d5ae5;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 50%;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .team-link:hover {
       background-color: #404bbf;
   }

   .team-link:focus {

       background-color: #404bbf;
   }


   .team-control {
       fill: #f4f4fd;

       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   /* ----- portfolio-----*/
   .portfolio {
    padding: 48px 16px;
    margin: 0 auto;
    
   }
   @media screen and (min-width: 1440px){
    .portfolio {
            
            
        }
   }
   .portfolio-heading {
       font-weight: 700;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: 0.02em;
       text-align: center;
       color: #2E2F42;
       text-transform: capitalize;

       margin-bottom: 72px;
   }
   .portfolio-list{
    display: flex;
    flex-direction: column;
    gap:48px;
    align-items: center;
    
   }

 @media screen and (min-width: 768px){
    .portfolio-list{
        flex-wrap: wrap;
        flex-direction:row;
    column-gap: 24px;
        row-gap: 48px;  
        
    }
 }
 @media screen and (min-width: 1440px) {
     .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
 
     }
 }


 .portfolio-list-item{
  
    
    border-radius: 0px 0px 4px 4px;
  
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

  @media screen and (min-width: 768px){
    .portfolio-list-item
         {
      width: calc((100% - 24px ) / 2);
      
        }
  }
   @media screen and (min-width: 1440px) {
       .portfolio-list-item {
        width: calc((100% - 48px ) / 3);
        max-width: 360px;
       }
   }

   .portfolio-list-blok {
       position: relative;
       overflow: hidden;
       transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   @media screen and (min-width: 768px){
    .portfolio-list-blok
    {
        width: 356px;
        height: 300px;
    }
    
   }
   @media screen and (min-width: 1440px) {
       .portfolio-list-blok {
           
        height: 300px;
        width: 360px;
       }}



   .overlay {

       position: absolute;
       top: 0;
       left: 0;

       transform: translateY(100%);
       line-height: 1.5;
       width: 100%;
       height: 100%;

       font-size: 16px;
       background-color: #4d5ae5;
       color: #f4f4fd;
       padding: 40px 32px;
       letter-spacing: 0.02em;
       transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

   }
   .portfolio-list-div {
       border: 1px solid #e7e9fc;
       border-top: none;
padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 288px;
   }
   @media screen and (min-width: 768px) {
        .portfolio-list-div {
           width: 356px;
       }

   }

   @media screen and (min-width: 1440px) {
        .portfolio-list-div {

           width: 360px;
       }
   }
   .portfolio-list-itme-titl {
       font-weight: 500;
       font-size: 20px;
       line-height: 120%;
       letter-spacing: 0.02em;
       color: #2E2F42;

       margin-bottom: 8px;
        font-family: "Roboto",
                sans-serif;

   }
   .portfolio-list-itme-text {
       font-weight: 400;
       font-size: 16px;
       line-height: 150%;
       letter-spacing: 0.02em;
       color: #434455;
       margin-top: 8px;

   }
   .portfolio-images {
       display: block;
    overflow-clip-margin: content-box;
       overflow: clip;
   }
 @media screen and (min-width: 768px){
    .portfolio-images {
        width:356px;
        height: 300px;
        }
 }
@media screen and (min-width: 1440px) {
    .portfolio-images {
        width: 360px;
        height: 300px;
    }
}

   /* ----- footer-----*/

   .footer-container{
    
      
   }
   .footer {
       background-image: url(../images/Dark-bg\ \(1\).jpg);
       background-size: cover;
       background-color: #2e2f42;
       background-position: center;
       margin: 0 auto
        
   }
   @media screen and (min-width: 768px) {
    .footer-container{ 
        display: flex;
        flex-wrap: wrap;
        padding-top: 96px;
        justify-content:baseline;
        padding-left: 92px;
    }
    



    .footer{
    font-weight: 768px;

    }
    }
   
    @media screen and (min-width: 1440px) {
     .footer-container {
    
    
    flex-direction: row;
     }
    .footer {
    font-weight: 1440px;
           
    }
    }    
   

   .container-logo{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
    padding-top: 98px;
 }
 @media screen and (min-width:768px) {
    .container-logo{
        padding-left: 0px;
            padding-top: 0px;
            height: 112px;
    }
 }
 @media screen and (min-width:1440px) {
     .container-logo {
         padding-left: 0px;
         padding-top: 0px;
         padding-right: 120px;
     }
 }

    .logo-second {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    display: flex;
    
    text-align: center;
    }
    .footer-logo {
        padding-left: 86px;
        padding-bottom: 16px;
    }
     @media screen and (min-width:768px) {
    .footer-logo {
        padding-left: 0px;
         padding-bottom: 16px;
    }
    
     @media screen and (min-width:1440px) {
            .footer-logo{
margin-right: 120px;
            }
        
        }
    }
   .footer-logo .footer-logo-studio{
    color: #f4f4fd;
    font-weight: 700;
   }

   .footer-text {
       font-weight: 400;
       font-size: 16px;
       letter-spacing: 0.02em;
       color: #f4f4fd;
       line-height: 1.5;
       height: 72px;
       width: 288px;
       margin-bottom: 72px;
   }
   .footer-socials {
      margin-left: 48px;
      margin-bottom: 72px;
       width: 208px;
       height: 80px;
       display: flex;
       flex-direction: column;
        align-items: center;
        justify-content: center;
   }
   @media screen and (min-width:768px) {
    .footer-socials {
    margin-left: 0px;
margin-bottom: 104px;
    align-items: flex-start;
       }
   }

 @media screen and (min-width:768px) {
.footer-socials {
        
margin-bottom: 104px;
margin-right: 80px;
             }
         }

   .socials-title {
       color: #ffffff;
       font-weight: 500;
       font-size: 16px;
       line-height: 150%;
       letter-spacing: 0.02em;
      margin-bottom: 16px;
   }
  @media screen and (min-width:768px) {
    .socials-title {
       
      }
  }

   .footer-socials-menu {
       display: flex;
       gap: 16px;
       width: 100%;
       height: 100%;
      
   }
   .footer-socials-item {
       width: 40px;
       height: 40px;

       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       background-color: #4d5ae5;
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;

       background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .footer-socials-item:hover {
       background-color: #31d0aa;
   }

   .footer-socials-item:focus {
       background-color: #31d0aa;
   }

   .footer-link {
       width: 100%;
       height: 100%;
       background-color: #4d5ae5;
       border-radius: 50%;

       display: flex;
       align-items: center;
       justify-content: center;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .footer-link:hover {
       background-color: #31d0aa;
   }
   .footer-link:focus {
       background-color: #31d0aa;
   }

   .control {
       fill: #f4f4fd;
   }



/*footer-button*/
.footer-container{
    justify-content: center;
}
   .footer-button {
      
       width: 288px;
       height: 136px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       gap:16px;
      
   }
   @media screen and (min-width:768px) {
    .footer-button{
        width: 453px;
        display: block;
        
    }
   }
   .footer-button-titel {
     
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #ffffff;
   }
@media screen and (min-width: 768px){
    .footer-button-titel{
       
    }
}
   .footer-button-form{
    display: flex;
    flex-direction: column;
    gap:16px;

   }
   @media screen and (min-width: 768px){
    .footer-button-form{
    flex-direction: row;
    
    }
   }
  .footer-button-label{
  
  }

   .footer-button-input {

       width: 288px;
       height: 40px;
       border: 1px solid #ffffff;
       background-color: transparent;
       font-size: 12px;
       line-height: 2;
       letter-spacing: 0.04em;
    
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
       border-radius: 4px;
       color: #ffffff;
   }

@media screen and (min-width: 768px){
    .footer-button-input{
        width: 264px;
    }
}
   .placeholder {
       color: #ffffff;
   }

   .footer-button-btn {
     
       height: 40px;
       display: flex;
       justify-content: center;
       align-items: center;
       font-family: "Roboto", sans-serif;
       font-size: 16px;
       font-weight: 500;
       line-height: 1.5;
       letter-spacing: 0.04em;
       color: #ffffff;
       cursor: pointer;
       background-color: #4D5AE5;
       border: none;
       border-radius: 4px;
       width: 165px;
    margin-left: 85px;
   }
   @media screen and (min-width: 768px){

  .footer-button-btn{
    margin-left: 16px;
  }  
    
}

   .footer-button-btn-icon {
       margin-left: 16px;
       fill: #fff;
   }

/* modal*/
.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    z-index: 10;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal {
    transform: translateY(-70%) translateX(-60%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    padding: 24px 16px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen  and (min-width: 768px){
.modal{
width: 408px;
    min-height:584px;
    transform: translateY(-50%) translateX(-70%);
}
 
}
@media screen and (min-width: 1440px) {
    .modal {
        transform: translateY(-600%) translateX(-70%);
    }

}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #E7E9FC;

    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
    fill: #ffffff;
    border: none;
}

.modal-btn-iteam {

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* form*/
.modal-caption {
    font-family: "Roboto",
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
    margin-top: 72px;

}
.modal-form-field {
    margin-bottom: 8px;
}
.modal-form-label {
    display: block;
    margin-bottom: 4px;
    width: 34px;
    height: 14px;
    color: #8E8F99;
    font-size: 12px;
    font-family: "Roboto",
        sans-serif;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.modal-form-wrapper {
    margin-bottom: 8px;
    position: relative;
}
.modal-form-imput {
    display: block;
    width: 100%;
    height: 40px;
    padding: 11px 38px;
    border-radius: 4px;
    border: 1px solid;
    outline: transparent;
    padding-left: 38px;
    border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 300ms ease-in;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-imput:focus {
    border-color: #4D5AE5;

}

.modal-form-imput:focus+.modal-form-icon {

    fill: #4D5AE5;

}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;

    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-form-comment {
    margin-bottom: 16px;
}

.modal-form-textarea {
    resize: none;
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid;
    outline: transparent;
    transition: border-color 300ms ease-in;
    padding-left: 16px;
    padding-top: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-textarea:focus {
    border-color: #4D5AE5;
}

.modal-form-textarea::placeholder {
    color: rgb(64, 64, 64, 0.3);
}
/* checkbox*/
.modal-checkbox {
    margin-bottom: 24px;
}

input[type='checkbox']:checked+.modal-form-checkbox>.checkbox-span {
    background-color: #404BBF;
    fill: #F4F4FD;
    ;
    border: none;
}

.modal-form-checkbox {
    color: #8E8F99;
    font-size: 12px;
    font-family: "Roboto",
        sans-serif;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.checkbox-span {
    width: 16px;
    height: 16px;
    border-bottom: 1px solid #4d5ae5;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #4D5AE5;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}

.modal-checkbox-svg {}

.checkbox-link {
    color: #4d5ae5;
}

.button-submit {
    width: 170px;
    height: 55px;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 44px;
}
@media screen and (min-width: 768px){
    .button-submit{
    margin-left: 104px;
    }
}